/*cor do nome principal da pagina*/
@keyframes brilho{
    0%{ text-shadow: 0 0 10px #1abc9c;}
    50%{ text-shadow: 0 0 20px #16a085;}
    100%{ text-shadow: 0 0 10px #1abc9c;}
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Montserrat:wght@500&display=swap');
/*estilo da fonte*/
.titulo{
    font-family: 'montserrat',sans-serif;
}
h1{
    font-family:'Poppins',sans-serif;
    font-size: 38px;
    color: #0773d8;
    text-align: center;
    margin-top: 100px;
    animation: brilho 2s infinite alternate;

}

body{
    background: linear-gradient(to right, #1abc9c, #16a085)/*cor fundo da pagina*/
}
h1{
    padding: 2rem;
    background-color: rgb(253, 167, 8);
    text-align: center;
}

button{
    display: flex;
    height: 100%;
    background-color: #eff1ef;
    color: #0000ee;
    text-align: center;
    margin-block-end: 12px;
    
}
body { 
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

}
/*opções de menu*/
.menu{
    list-style: none; /*tira os marcadores*/
    padding: 0;       
    margin: 0;
    display: flex;          /* coloca os itens lado a lado */
    justify-content: center; /* centraliza no meio da tela */
    gap: 30px;                  /* espaço entre os botões */
    background-color:  rgb(253, 167, 8);  /* cor da barra de menu */
    padding: 15px 0;

}
/*estilo dos linrs (botões)*/
.menu li a {
    text-decoration: none;
    color: wheat;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #a76222;
    transition: backgronud 0.3s, transform 0.2s;

}
/*Efeito houver (ao passar o mouse)*/
.menu li a:hover{
    background-color: #1abc9c;
    transform: scale(1.05);
}

