<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="../Static/indexStyle.css">
    <link rel="stylesheet" href="/Biblioteca/app.py">
    
    
   

</head>
<body>
    <!--inicio da pagina-->
    <h1>Bem-vindo ao Sistema De Gerenciamento De Biblioteca</h1>

    <al class="menu">
        <li><a href="lista_livros.HTML">Lista de Livros</a></li> 
        <li><a href="login.HTML">Login</a></li>
    </al>    
   <header>
        <nav>
            <a href="Biblioteca_usuario.HTML"> inicio</a>
        </nav>
   </header>
   
   <main>
        <section>
         <article>
            <h2>Bíblia Sagrada</h2>
            <img src="nono.jpg" alt="Biblia sagrada">
         </article>

         <aside>
            <h2>Biblia Sagrada</h2>
            <img src="nono.jpg" alt="Biblia Sagrada">
         </aside>

         <article>
            <h2>O Novo Testamento</h2>
            <img src="nono.jpg" alt="Novo testamento">
         </article>
        </section>
   </main>
   <footer>
    <p>criador da pagina </p>
   </footer>
    

</body>
</html>