<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Static/lista_de_livros.css">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Lançamento Futuros</h1>
        <section>
         <article>
            <h2>Bíblia Sagrada</h2>
            <img src="nono.jpg" alt="Biblia sagrada">
         </article>

         <aside>
            <h2>Biblia Sagrada</h2>
            <img src="nono.jpg" alt="Biblia Sagrada">
         </aside>

         <article>
            <h2>O Novo Testamento</h2>
            <img src="nono.jpg" alt="Novo testamento">
         </article>
         <article>
            <h2>Bíblia Sagrada</h2>
            <img src="nono.jpg" alt="Biblia sagrada">
         </article>

         <aside>
            <h2>Biblia Sagrada</h2>
            <img src="nono.jpg" alt="Biblia Sagrada">
         </aside>

         <article>
            <h2>O Novo Testamento</h2>
            <img src="nono.jpg" alt="Novo testamento">
         </article>
        </section>
   </main>
</body>
</html>